# system-packages.txt
# Install with: pkg install -y $(cat system-packages.txt)

bash
coreutils
file
curl
exiftool
imagemagick
sox
termux-api
python
clang
make
pkg-config
binutils
cmake
libjpeg-turbo
libpng
freetype
libffi
neofetch
htop
git
ffmpeg
